.form {
    width: 300px;
    height: 200px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: transparent;
    margin: 50px auto;
    opacity: 0.6;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.form label {
    font-weight: 700;
    font-size: 20px;
}

.form input {
    border: none;
    border-bottom: 1px solid rgba(6, 24, 44, 0.4);
    background-color: transparent;
}

.form input:focus {
    outline: none;
    color: #fff;
}

.form button {
    background-color: transparent;
    font-weight: 700;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    color: #fff;
}